@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.producto, .financiacion, .repuestos, .contacto {
  background-color: #237386bd;
  width: 100%;
  height: 130px; }

/*! --- RESET ---*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif !important; }

title {
  font-family: "Montserrat", sans-serif !important; }

header {
  background-color: #19029b;
  padding: 15px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.navbar-brand {
  color: white;
  font-size: 45px; }

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: white;
  font-size: 22px;
  margin: 15px; }

.navbar-nav .nav-item a {
  color: white;
  font-size: 22px;
  margin: 15px; }

.footer-pag {
  width: 100%;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px; }
  .footer-pag h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px; }
  .footer-pag .sobre-nosotros h4 {
    color: white;
    font-size: 25px;
    margin-bottom: 25px;
    text-align: center; }
  .footer-pag .sobre-nosotros p {
    color: #eee6e6;
    margin-bottom: 10px;
    font-size: 20px;
    width: 80%; }
  .footer-pag .red-social h4 {
    text-align: center;
    color: white;
    font-size: 25px;
    margin-bottom: 25px; }
  .footer-pag .red-social div {
    text-align: center; }
    .footer-pag .red-social div img {
      margin-right: 15px;
      transition: 1s; }
  .footer-pag .red-social img:hover {
    transform: scale(1.2); }

.hero {
  width: 100%;
  height: calc(100vh - 125px);
  background-image: url(https://plus.unsplash.com/premium_photo-1664301163726-78773dc77bfd?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: black;
  display: flex;
  justify-content: center;
  align-items: start; }
  .hero h1 {
    font-size: 40px;
    padding: 10px; }

.destacados h2 {
  margin: 20px;
  font-size: 22px;
  text-align: center; }

.destacados div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 40px;
  flex-wrap: wrap; }

.destacados .expo {
  border: 2px solid gray;
  width: 400px; }
  .destacados .expo a {
    text-decoration: none;
    color: black; }
    .destacados .expo a img {
      background-color: #040461;
      width: 100%;
      height: 192px; }
    .destacados .expo a h3 {
      font-size: 20px;
      margin: 5px;
      text-align: center; }

.destacados .whatsapp {
  border: 2px solid gray;
  width: 400px; }
  .destacados .whatsapp a {
    text-decoration: none;
    color: black; }
    .destacados .whatsapp a img {
      border: 2px solid gray;
      width: 100%; }
    .destacados .whatsapp a h3 {
      font-size: 20px;
      margin: 5px;
      text-align: center; }

.producto h1 {
  font-size: 45px;
  padding: 20px;
  color: whitesmoke;
  font-family: "Montserrat", sans-serif; }

.nombre-producto {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 500px; }
  .nombre-producto div {
    width: 40%; }
    .nombre-producto div h2 {
      text-align: center;
      font-size: 30px; }

.financiacion h1 {
  font-size: 45px;
  padding: 20px;
  color: whitesmoke;
  font-family: "Montserrat", sans-serif; }

.p-financiacion {
  margin: 20px; }
  .p-financiacion h2 {
    margin-top: 20px; }
  .p-financiacion p {
    font-size: 25px;
    margin-top: 5px; }
  .p-financiacion ul li {
    font-size: 20px;
    margin: 10px 0px 20px 0px; }
  .p-financiacion div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 250px; }

.repuestos h1 {
  font-size: 45px;
  padding: 20px;
  color: whitesmoke;
  font-family: "Montserrat", sans-serif; }

.search-repuestos {
  margin: 20px; }
  .search-repuestos h2 {
    font-size: 30px; }
  .search-repuestos div input {
    font-size: 25px;
    width: 600px;
    height: 60px; }

.complementario {
  margin: 20px;
  font-size: 18px; }
  .complementario h2 {
    font-size: 28px; }
  .complementario p {
    font-size: 20px; }
  .complementario .compra-complementarios {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px; }
    .complementario .compra-complementarios div {
      margin: 5px;
      width: 400px;
      height: 350px;
      border: 2px solid gray;
      text-align: center; }
      .complementario .compra-complementarios div img {
        width: 100%; }
      .complementario .compra-complementarios div h3 {
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 5px; }
      .complementario .compra-complementarios div a {
        background-color: black;
        text-decoration: none;
        color: white;
        padding: 8px;
        font-size: 15px; }

.contacto h1 {
  font-size: 45px;
  padding: 20px;
  color: whitesmoke;
  font-family: "Montserrat", sans-serif; }

.formulario {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 450px; }
  .formulario h2 {
    font-family: "Montserrat", sans-serif;
    width: 30%;
    margin: 10px;
    font-size: 25px;
    color: black; }
  .formulario form {
    width: 500px;
    height: 300px;
    padding: 12px;
    margin: 20px; }
    .formulario form .div-form {
      width: 100%; }
      .formulario form .div-form .inputs-name {
        width: 92%;
        height: 45px;
        margin: 2px;
        border: 1px solid black;
        border-radius: 4px; }
      .formulario form .div-form .inputs {
        width: 45%;
        height: 45px;
        margin: 2px;
        border: 1px solid black;
        border-radius: 4px; }
  .formulario textarea {
    width: 100%;
    height: 85px;
    margin: 0px 0px 4px 0px;
    border: 1px solid black;
    border-radius: 4px; }
  .formulario .button-enviar {
    width: 100px;
    height: 30px;
    background-color: blue;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    margin: 0 auto; }

@media screen and (max-width: 1118px) {
  .destacados .expo {
    width: 345px;
    height: 240px; }
    .destacados .expo a img {
      border: 2px solid gray;
      width: 100%;
      height: 160px; }
  .destacados .whatsapp {
    width: 345px;
    height: 240px; }
  .producto h1 {
    font-size: 40px; }
  .nombre-producto img {
    height: 450px;
    width: 450px; }
  .nombre-producto div h2 {
    font-size: 25px; }
  .nombre-producto div p {
    font-size: 15px; }
  .nombre-producto div ul li {
    font-size: 15px; }
  .financiacion h1 {
    font-size: 40px; }
  .p-financiacion h2 {
    font-size: 25px; }
  .p-financiacion p {
    font-size: 20px; }
  .p-financiacion div {
    height: 600px;
    flex-direction: column; }
  .repuestos h1 {
    font-size: 40px; }
  .search-repuestos h2 {
    font-size: 30px; }
  .search-repuestos div input {
    font-size: 20px;
    width: 500px;
    height: 50px; }
  .complementario h2 {
    font-size: 25px; }
  .contacto h1 {
    font-size: 40px; }
  .formulario h2 {
    font-size: 20px; }
  .formulario form {
    width: 400px;
    height: 250px; } }

@media screen and (max-width: 912px) {
  h1 {
    font-size: 35px; }
  .producto {
    height: 100px; }
  .nombre-producto {
    flex-direction: column;
    height: 900px; }
    .nombre-producto img {
      width: 578px;
      height: 431px; }
    .nombre-producto div {
      width: 100%;
      display: flex;
      flex-direction: column; }
      .nombre-producto div h2 {
        font-size: 35px; }
      .nombre-producto div p {
        font-size: 17px;
        margin: 25px; }
      .nombre-producto div ul {
        margin-left: 10px; }
        .nombre-producto div ul li {
          font-size: 17px; }
  .financiacion {
    height: 100%; }
  .repuestos {
    height: 90%; }
  .complementario .compra-complementarios div {
    height: 320px; }
  .contacto {
    height: 100%; }
  .formulario {
    flex-direction: column; }
    .formulario h2 {
      width: 70%;
      text-align: center;
      font-size: 22px; }
  .footer-pag h3 {
    font-size: 40px; }
  .footer-pag .sobre-nosotros p {
    width: 100%;
    font-size: 18px; }
  .footer-pag .red-social div a img {
    width: 40px;
    height: 40px;
    margin-right: 5px; } }

@media screen and (max-width: 762px) {
  .destacados div {
    flex-direction: column;
    margin-top: 20px; }
  .nombre-producto img {
    width: 450px;
    height: 400px; }
  .nombre-producto div h2 {
    font-size: 30px; }
    .nombre-producto div h2 p {
      font-size: 15px; }
  .search-repuestos div input {
    width: 400px;
    font-size: 18px; }
  .complementario p {
    font-size: 19px; }
  .complementario .compra-complementarios div {
    width: 380px; }
  .footer-pag {
    display: flex;
    flex-direction: column; }
    .footer-pag .sobre-nosotros h4 {
      font-size: 28px; }
    .footer-pag .sobre-nosotros p {
      margin-bottom: 0px;
      font-size: 20px;
      text-align: center; }
    .footer-pag .red-social h4 {
      font-size: 28px; }
    .footer-pag .red-social div a img {
      width: 45px;
      height: 45px; } }

@media screen and (max-width: 485px) {
  .hero h1 {
    font-size: 25px; }
  .destacados h2 {
    font-size: 20px; }
  .destacados .expo {
    width: 300px; }
    .destacados .expo a h3 {
      font-size: 17px; }
  .destacados .whatsapp {
    width: 300px; }
    .destacados .whatsapp a img {
      height: 161px; }
    .destacados .whatsapp a h3 {
      font-size: 17px; }
  .producto h1 {
    font-size: 35px; }
  .nombre-producto img {
    width: 340px; }
  .nombre-producto div h2 {
    font-size: 21px; }
  .nombre-producto div p {
    font-size: 15px; }
  .nombre-producto div ul li {
    font-size: 15px; }
  .financiacion h1 {
    font-size: 35px; }
  .p-financiacion h2 {
    font-size: 19px; }
  .p-financiacion p {
    font-size: 17px; }
  .p-financiacion ul li {
    font-size: 17px; }
  .repuestos h1 {
    font-size: 33px; }
  .search-repuestos {
    margin: 5px; }
    .search-repuestos h2 {
      font-size: 23px;
      text-align: center; }
    .search-repuestos div input {
      width: 330px;
      font-size: 16px; }
    .search-repuestos div img {
      display: none; }
  .complementario h2 {
    font-size: 22px;
    text-align: center; }
  .complementario p {
    font-size: 17px; }
  .complementario .compra-complementarios {
    margin: 10px; }
    .complementario .compra-complementarios div {
      width: 345px;
      height: 270px; }
      .complementario .compra-complementarios div h3 {
        font-size: 18px; }
  .contacto h1 {
    font-size: 35px; }
  .formulario {
    margin: 5px; }
    .formulario h2 {
      font-size: 19px;
      width: 80%; }
    .formulario form {
      width: 345px; }
      .formulario form .div-form .inputs-name {
        height: 40px; }
      .formulario form .div-form .inputs {
        height: 40px; }
  .footer-pag .sobre-nosotros h4 {
    font-size: 25px; }
  .footer-pag .sobre-nosotros p {
    font-size: 18px;
    padding: 10px; }
  .footer-pag .red-social h4 {
    font-size: 25px; } }
