// -- MAIN -- 
.hero {
    width: 100%;
    height: calc(100vh - 104px);
    background-image: url(https://authassets.cnhindustrial.com/nhag/lar/es-ar/PublishingImages/homepage/slider/2024/Expo%20Rural%202024%20NHAG_Herobanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: start;

    h1 {
        font-size: 40px;
        padding: 10px;
    }
}

.destacados {

    h2 {
        margin: 20px;
        font-size: 22px;
        text-align: center;
    }

    div {
        @include flex (flex, space-evenly, center);
        padding-bottom: 40px;
        flex-wrap: wrap;
    }

    .expo {
        border: 2px solid gray;
        width: 400px;

        a {
            text-decoration: none;
            color: black;

            img {
                background-color: rgb(4, 4, 97);
                width: 100%;
                height: 192px;
            }

            h3 {
                font-size: nth($font-size, $n:3 );
                margin: 5px;
                text-align: center;
            }
        }
    }

    .whatsapp {
        border: 2px solid gray;
        width: 400px;

        a {
            text-decoration: none;
            color: black;

            img {
                border: 2px solid gray;
                width: 100%;
            }

            h3 {
                font-size: nth($font-size, $n:3 );
                margin: 5px;
                text-align: center;
            }
        }
    }
}
