%bg {
    background-color: #237386bd;
    width: 100%;
    height: 130px;
}

@mixin titulos ($size, $padding, $color){
    font-size: $size;
    padding: $padding;
    color: $color;
}

@mixin flex ($flex, $justify, $align){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
    
}