@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*! --- RESET ---*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif !important;
}
title {
    font-family: "Montserrat", sans-serif !important;
}


header {
    background-color: rgb(25, 2, 155);
    padding: 15px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    color: white;
    font-size: 45px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: white;
    font-size: 22px;
    margin: 15px;
}

.navbar-nav .nav-item a {
    color: white;
    font-size: 22px;
    margin: 15px;
}

// FOOTER--

.footer-pag {
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;

    h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 50px;

    }

    .sobre-nosotros {

        h4 {
            color: white;
            font-size: 25px;
            margin-bottom: 25px;
            text-align: center;
        }

        p {
            color: rgb(238, 230, 230);
            margin-bottom: 10px;
            font-size: 20px;
            width: 80%;
        }
    }

    .red-social {

        h4 {
            text-align: center;
            color: white;
            font-size: 25px;
            margin-bottom: 25px;
        }

        div {
            text-align: center;

            img {
                margin-right: 15px;
            }
        }
    }
}