// --- MEDIA QUARY -- 
@media screen and (max-width:1118px) {

    // Index --
    .destacados {
        .expo {
            width: 345px;
            height: 240px;

            a {

                img {
                    border: 2px solid gray;
                    width: 100%;
                    height: 160px;

                }
            }
        }

        .whatsapp {
            width: 345px;
            height: 240px;
        }
    }

    // Productos --

    .producto {

        h1 {
            font-size: 40px;
        }
    }

    .nombre-producto {

        img {
            height: 450px;
            width: 450px;
        }

        div {

            h2 {
                font-size: 25px;
            }

            p {
                font-size: 15px;
            }

            ul {
                li {
                    font-size: 15px;
                }
            }
        }
    }

    // Financiacíon --
    .financiacion {

        h1 {
            font-size: 40px;
        }
    }

    .p-financiacion {

        h2 {
            font-size: 25px;
        }

        p {
            font-size: 20px;
        }

        div {
            height: 600px;
            flex-direction: column;
        }
    }

    // Repuestos --
    .repuestos {

        h1 {
            font-size: 40px;
        }
    }

    .search-repuestos {
        h2 {
            font-size: 30px;
        }

        div {
            input {
                font-size: 20px;
                width: 500px;
                height: 50px;
            }
        }
    }

    .complementario {
        h2 {
            font-size: 25px;
        }
    }

    // Contacto --
    .contacto {

        h1 {
            font-size: 40px;
        }
    }

    .formulario {

        h2 {
            font-size: 20px;
        }

        form {
            width: 400px;
            height: 250px;
        }
    }
}

@media screen and (max-width:912px) {

    // index --
    h1 {
        font-size: 35px;
    }


// producto --
.producto {
    height: 100px;
}

.nombre-producto {
    flex-direction: column;
    height: 900px;

    img {
        width: 578px;
        height: 431px;
    }

    div {
        width: 100%;
        display: flex;
        flex-direction: column;

        h2 {
            font-size: 35px;

        }

        p {
            font-size: 17px;
            margin: 25px;
        }

        ul {
            margin-left: 10px;

            li {
                font-size: 17px;

            }
        }
    }
}

// Financiacíon --
.financiacion {
    height: 100%;
}

// Repuestos --
.repuestos {
    height: 90%;

}

.complementario {

    .compra-complementarios {

        div {
            height: 320px;
        }
    }
}

// Contacto --

.contacto {
    height: 100%;
}

.formulario {
    flex-direction: column;

    h2 {
        width: 70%;
        text-align: center;
        font-size: 22px;
    }
}

// Footer --
.footer-pag {

    h3 {
        font-size: 40px;
    }

    .sobre-nosotros {

        p {
            width: 100%;
            font-size: 18px;
        }
    }

    .red-social {

        div {

            a {

                img {
                    width: 40px;
                    height: 40px;
                    margin-right: 5px;
                }
            }
        }
    }
}
}

@media screen and (max-width: 762px) {
    // Index-- 

    .destacados {
        div {
            flex-direction: column;
            margin-top: 20px;
        }
    }

    // Producto--
    .nombre-producto {

        img {
            width: 450px;
            height: 400px;
        }

        div {

            h2 {
                font-size: 30px;

                p {
                    font-size: 15px;
                }
            }
        }
    }

    // Repuestos--
    .search-repuestos {
        div {
            input {
                width: 400px;
                font-size: 18px;
            }
        }
    }

    .complementario {
        p {
            font-size: 19px;
        }

        .compra-complementarios {

            div {
                width: 380px;
            }
        }
    }

    // Footer--
    .footer-pag {
        display: flex;
        flex-direction: column;

        .sobre-nosotros {

            h4 {
                font-size: 28px;
            }

            p {
                margin-bottom: 0px;
                font-size: 20px;
                text-align: center;
            }
        }

        .red-social {

            h4 {
                font-size: 28px;
            }

            div {

                a {

                    img {
                        width: 45px;
                        height: 45px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:485px) {
    // Index--

    .hero {

        h1 {
            font-size: 25px;
        }
    }

    .destacados {

        h2 {
            font-size: 20px;
        }

        .expo {
            width: 300px;

            a {
                h3 {
                    font-size: 17px;
                }
            }
        }

        .whatsapp {
            width: 300px;

            a {

                img {
                    height: 161px;
                }

                h3 {
                    font-size: 17px;
                }
            }
        }
    }

    // Prodcuto--
    .producto {
        h1 {
            font-size: 35px;
        }
    }

    .nombre-producto {

        img {
            width: 340px;

        }

        div {

            h2 {
                font-size: 21px;
            }

            p {
                font-size: 15px;
            }

            ul {
                li {
                    font-size: 15px;
                }
            }
        }
    }

    // Financiacíon--
    .financiacion {
        h1 {
            font-size: 35px;
        }
    }

    .p-financiacion {

        h2 {
            font-size: 19px;
        }

        p {
            font-size: 17px;
        }

        ul {
            li {
                font-size: 17px;
            }
        }
    }

    // Repuestos--
    .repuestos {
        h1 {
            font-size: 33px;
        }
    }

    .search-repuestos {
        margin: 5px;

        h2 {
            font-size: 23px;
            text-align: center;
        }

        div {
            input {

                width: 330px;
                font-size: 16px;
            }

            img {
                display: none;
            }
        }
    }

    .complementario {
        h2 {
            font-size: 22px;
            text-align: center;
        }

        p {
            font-size: 17px;
        }

        .compra-complementarios {
            margin: 10px;

            div {
                width: 345px;
                height: 270px;

                h3 {
                    font-size: 18px;
                }
            }
        }
    }

    // Contacto--
    .contacto {
        h1 {
            font-size: 35px;
        }
    }

    .formulario {
        margin: 5px;

        h2 {
            font-size: 19px;
            width: 80%;
        }

        form {
            width: 345px;

            .div-form {
                .inputs-name {
                    height: 40px;

                }

                .inputs {
                    height: 40px;
                }
            }
        }
    }

    // footer--
    .footer-pag {
        .sobre-nosotros {
            h4 {
                font-size: 25px;
            }

            p {
                font-size: 18px;
                padding: 10px;
            }
        }

        .red-social {
            h4 {
                font-size: 25px;
            }
        }
    }
}